<% layout('panel') -%>

<form method="post" class="p-5 bg-white">
          <div class="col-md-12">
            <label class="font-weight-bold" for="time">Department</label> 
            <select name="time" id="time" class="form-control">
              <option value="Dental Surgery">Dental Surgery</option>
              <option value="Dental Nerves">Dental Nerves</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <input type="submit" value="Send" class="btn btn-primary">
      </div>
    </div>


  </form>