<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<form method="post">
    <label for="name"> Your Name:
        <input type="text" name="name">
    </label>
    <label for="email"> Your Email:
        <input type="text" name="email">
    </label>
    <label for="NID"> Your NationalID:
        <input type="text" name="nid">
    </label>
    <label for="password"> Your Password:
        <input type="password" name="password">
    </label>
    <label for="password2"> Confirm Password:
        <input type="password" name="password2">
    </label>
    <input type="submit">
</form>
</body>
</html>