<% layout('panel') -%>


<div class="card card-primary col-md-12">
    <div class="card-header">
        <h3 class="card-title">Patients List</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->

    <div class="card-body ">
        <table id="example2" class="table table-bordered table-hover" role="grid" aria-describedby="example2_info">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Profile</th>
            </thead>
            <tbody>
            <% PatientsHistory.forEach(Patients =>  { %>
                <tr role="row" class="odd">
                    <td class="sorting_1"><%= Patients.id %></td>
                    <td><%= Patients.Name %></td>
                    <td><a class="btn btn-block btn-primary" href="/patient/profile/<%= Patients.id %>">View Profile</a>
                    </td>
                </tr>
            <% }); %>

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- include sorting in any table -->
<% block('js').append('<script src="/plugins/datatables/jquery.dataTables.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>') %>
<% block('js').append('<script> $(function () {$("#example2").DataTable();})</script>') %>

