<% layout('panel') -%>

<% block('css').append('<link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.css">"></script>') %>
<div class="card card-primary col-md-12">
    <div class="card-header">
        <h3 class="card-title">Histories Available</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->

    <div class="card-body ">
        <table id="example2" class="table table-bordered table-hover" role="grid" aria-describedby="example2_info">
            <thead>
            <tr role="row">
                <th>Diagnosis
                </th>
                <th>Diagnosis Data</th>
            </thead>
            <tbody>
            <% patientHistory.forEach(history =>  { %>
                <tr role="row" class="odd">
                    <td><%= history.Diagnosis %></td>
                    <td> <%= history.DiagnosisDate %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- include sorting in any table -->
<% block('js').append('<script src="/plugins/datatables/jquery.dataTables.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>') %>
<% block('js').append('<script> $(function () {$("#example2").DataTable();})</script>') %>

